In [35]:
import pandas as pd
import polars as pl

from factorlib.utils.system import get_data_dir
from factorlib.utils.helpers import resample

In [36]:
raw_data_dir = get_data_dir() / 'raw'
ohclv_raw = pl.scan_csv(raw_data_dir / 'ohclv_daily.csv', try_parse_dates=True).collect(streaming=True)
ohclv_raw

shape: (16_083_126, 17)
┌────────┬─────┬────────────┬────────┬───┬───────┬────────┬────────┬────────┐
│ GVKEY  ┆ iid ┆ date_index ┆ ticker ┆ … ┆ prcod ┆ prchd  ┆ prcld  ┆ prccd  │
│ ---    ┆ --- ┆ ---        ┆ ---    ┆   ┆ ---   ┆ ---    ┆ ---    ┆ ---    │
│ i64    ┆ i64 ┆ date       ┆ str    ┆   ┆ str   ┆ f64    ┆ f64    ┆ f64    │
╞════════╪═════╪════════════╪════════╪═══╪═══════╪════════╪════════╪════════╡
│ 126554 ┆ 1   ┆ 2002-01-02 ┆ A      ┆ … ┆ null  ┆ 29.34  ┆ 28.46  ┆ 29.25  │
│ 126554 ┆ 1   ┆ 2002-01-03 ┆ A      ┆ … ┆ null  ┆ 31.2   ┆ 29.42  ┆ 31.1   │
│ 126554 ┆ 1   ┆ 2002-01-04 ┆ A      ┆ … ┆ null  ┆ 32.94  ┆ 31.65  ┆ 32.78  │
│ 126554 ┆ 1   ┆ 2002-01-07 ┆ A      ┆ … ┆ null  ┆ 32.89  ┆ 32.2   ┆ 32.65  │
│ …      ┆ …   ┆ …          ┆ …      ┆ … ┆ …     ┆ …      ┆ …      ┆ …      │
│ 25128  ┆ 1   ┆ 2023-02-28 ┆ ZYNE   ┆ … ┆ 0.51  ┆ 0.5189 ┆ 0.46   ┆ 0.462  │
│ 25128  ┆ 1   ┆ 2023-03-01 ┆ ZYNE   ┆ … ┆ 0.5   ┆ 0.503  ┆ 0.4629 ┆ 0.4629 │
│ 25128  ┆ 1   ┆ 2023-03-02 ┆ ZYNE   ┆ … ┆ 0.48  ┆ 0.493  ┆ 0.454  ┆ 0.489  │
│ 25128  ┆ 1   ┆ 2023-03-03 ┆ ZYNE   ┆ … ┆ 0.47  ┆ 0.4962 ┆ 0.4639 ┆ 0.4962 │
└────────┴─────┴────────────┴────────┴───┴───────┴────────┴────────┴────────┘

In [37]:
closes_raw = ohclv_raw.lazy().select(pl.col('date_index'), pl.col('ticker'), pl.col('prccd')).collect(streaming=True)
closes_raw = closes_raw.sort(['ticker', 'date_index'])
closes_raw

shape: (16_083_126, 3)
┌────────────┬────────┬────────┐
│ date_index ┆ ticker ┆ prccd  │
│ ---        ┆ ---    ┆ ---    │
│ date       ┆ str    ┆ f64    │
╞════════════╪════════╪════════╡
│ 2002-01-02 ┆ A      ┆ 29.25  │
│ 2002-01-03 ┆ A      ┆ 31.1   │
│ 2002-01-04 ┆ A      ┆ 32.78  │
│ 2002-01-07 ┆ A      ┆ 32.65  │
│ …          ┆ …      ┆ …      │
│ 2023-02-28 ┆ ZYNE   ┆ 0.462  │
│ 2023-03-01 ┆ ZYNE   ┆ 0.4629 │
│ 2023-03-02 ┆ ZYNE   ┆ 0.489  │
│ 2023-03-03 ┆ ZYNE   ┆ 0.4962 │
└────────────┴────────┴────────┘

In [38]:
returns = closes_raw.to_pandas().set_index('date_index')
returns['ret'] = returns.groupby('ticker')['prccd'].pct_change()
returns

           ticker    prccd       ret
date_index
2002-01-02      A  29.2500       NaN
2002-01-03      A  31.1000  0.063248
2002-01-04      A  32.7800  0.054019
2002-01-07      A  32.6500 -0.003966
2002-01-08      A  32.7500  0.003063
...           ...      ...       ...
2023-02-27   ZYNE   0.5190 -0.001923
2023-02-28   ZYNE   0.4620 -0.109827
2023-03-01   ZYNE   0.4629  0.001948
2023-03-02   ZYNE   0.4890  0.056384
2023-03-03   ZYNE   0.4962  0.014724

[16083126 rows x 3 columns]

In [39]:
with_mom_season = returns
with_mom_season['ret'] = with_mom_season['ret'].fillna(0)
with_mom_season['MomSeasonShort'] = with_mom_season['ret'].shift(364)
with_mom_season.dropna(inplace=True)
with_mom_season

           ticker    prccd       ret  MomSeasonShort
date_index
2003-06-13      A  18.9200  0.004246        0.000000
2003-06-16      A  19.2400  0.016913        0.063248
2003-06-17      A  19.2400  0.000000        0.054019
2003-06-18      A  19.5600  0.016632       -0.003966
2003-06-19      A  19.2600 -0.015337        0.003063
...           ...      ...       ...             ...
2023-02-27   ZYNE   0.5190 -0.001923        0.009281
2023-02-28   ZYNE   0.4620 -0.109827       -0.006897
2023-03-01   ZYNE   0.4629  0.001948       -0.020833
2023-03-02   ZYNE   0.4890  0.056384       -0.014184
2023-03-03   ZYNE   0.4962  0.014724        0.043165

[16081974 rows x 4 columns]

In [40]:
mom_season_short_daily = with_mom_season[['ticker', 'MomSeasonShort']]
mom_season_short_daily.rename(columns={'MomSeasonShort': 'mom_season_short_daily'}, inplace=True)
mom_season_short_daily

A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           ticker  mom_season_short_daily
date_index
2003-06-13      A                0.000000
2003-06-16      A                0.063248
2003-06-17      A                0.054019
2003-06-18      A               -0.003966
2003-06-19      A                0.003063
...           ...                     ...
2023-02-27   ZYNE                0.009281
2023-02-28   ZYNE               -0.006897
2023-03-01   ZYNE               -0.020833
2023-03-02   ZYNE               -0.014184
2023-03-03   ZYNE                0.043165

[16081974 rows x 2 columns]

In [41]:
momentum_data_dir = get_data_dir() / 'momentum'
mom_season_short_daily.to_csv(momentum_data_dir / 'mom_season_short_daily.csv')