In [21]:
import pandas as pd
import polars as pl

from factorlib.utils.system import get_data_dir

In [22]:
raw_data_dir = get_data_dir() / 'raw'
income_statements = pd.read_csv(raw_data_dir / 'income_statements.csv', index_col=0)
income_statements

,date,symbol,reportedCurrency,cik,fillingDate,acceptedDate,calendarYear,period,revenue,costOfRevenue,...,incomeBeforeTaxRatio,incomeTaxExpense,netIncome,netIncomeRatio,eps,epsdiluted,weightedAverageShsOut,weightedAverageShsOutDil,link,finalLink
0,2023-04-30,A,USD,1090872.0,2023-05-26,2023-05-26 17:28:42,2023,Q2,1.717000e+09,793000000.0,...,0.219569,75000000.0,302000000.0,0.175888,1.020,1.020,296000000.0,297000000.0,https://www.sec.gov/Archives/edgar/data/109087...,https://www.sec.gov/Archives/edgar/data/109087...
1,2023-01-31,A,USD,1090872.0,2023-03-03,2023-03-02 18:52:33,2023,Q1,1.756000e+09,788000000.0,...,0.233485,58000000.0,352000000.0,0.200456,1.190,1.190,296000000.0,297000000.0,https://www.sec.gov/Archives/edgar/data/109087...,https://www.sec.gov/Archives/edgar/data/109087...
2,2022-10-31,A,USD,1090872.0,2022-12-21,2022-12-20 18:42:30,2022,Q4,1.849000e+09,837000000.0,...,0.246079,87000000.0,368000000.0,0.199027,1.240,1.230,296000000.0,298000000.0,https://www.sec.gov/Archives/edgar/data/109087...,https://www.sec.gov/Archives/edgar/data/109087...
3,2022-07-31,A,USD,1090872.0,2022-09-01,2022-08-31 18:53:26,2022,Q3,1.718000e+09,779000000.0,...,0.231083,68000000.0,329000000.0,0.191502,1.100,1.100,298000000.0,299000000.0,https://www.sec.gov/Archives/edgar/data/109087...,https://www.sec.gov/Archives/edgar/data/109087...
4,2022-04-30,A,USD,1090872.0,2022-05-31,2022-05-27 19:33:57,2022,Q2,1.607000e+09,746000000.0,...,0.207218,59000000.0,274000000.0,0.170504,0.920,0.910,299000000.0,301000000.0,https://www.sec.gov/Archives/edgar/data/109087...,https://www.sec.gov/Archives/edgar/data/109087...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,2006-06-30,ZZLL,USD,1365357.0,2006-06-30,2006-06-30 00:00:00,2006,Q2,7.753012e+06,7443897.0,...,-0.001666,4439.0,-17355.0,-0.002238,-0.400,-0.400,43000.0,43000.0,NaN,NaN
65,2006-03-31,ZZLL,USD,1365357.0,2006-03-31,2006-03-31 00:00:00,2006,Q1,6.585533e+06,0.0,...,0.000000,-14211771.0,2190.0,0.000333,0.051,0.051,43000.0,43000.0,NaN,NaN
66,2005-12-31,ZZLL,USD,1365357.0,2005-12-31,2005-12-31 00:00:00,2005,Q4,5.516982e+06,0.0,...,0.000000,5591491.0,-74509.0,-0.013505,-2.520,-2.520,29614.0,29614.0,NaN,NaN
67,2005-09-30,ZZLL,USD,1365357.0,2005-09-30,2005-09-30 00:00:00,2005,Q3,4.908798e+06,0.0,...,0.000000,4992047.0,-83249.0,-0.016959,-1.940,-1.940,43000.0,43000.0,NaN,NaN
68,2005-06-30,ZZLL,USD,1365357.0,2005-06-30,2005-06-30 00:00:00,2005,Q2,3.558967e+06,0.0,...,0.000000,3623788.0,-64821.0,-0.018213,-1.510,-1.510,43000.0,43000.0,NaN,NaN

In [23]:
relevant_income_statements = income_statements[['date', 'symbol', 'incomeTaxExpense']]
relevant_income_statements.rename(columns={'date': 'date_index',
                           'symbol': 'ticker'}, inplace=True)
relevant_income_statements.sort_values(by=['ticker', 'date_index'], inplace=True)
relevant_income_statements

A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    date_index ticker  incomeTaxExpense
97  1999-01-31      A      1.712000e+09
96  1999-04-30      A      1.853000e+09
95  1999-07-31      A      1.952000e+09
94  1999-10-31      A     -5.288000e+09
93  2000-01-31      A      7.100000e+07
..         ...    ...               ...
4   2021-09-30   ZZLL      1.320000e+02
3   2021-12-31   ZZLL      1.442320e+05
2   2022-03-31   ZZLL      2.360800e+04
1   2022-06-30   ZZLL      1.063000e+03
0   2022-09-30   ZZLL      7.000000e+02

[683834 rows x 3 columns]

In [24]:
balance_sheets = pd.read_csv(raw_data_dir / 'balance_sheet_statements.csv', index_col=0)
balance_sheets

,date,symbol,reportedCurrency,cik,fillingDate,acceptedDate,calendarYear,period,cashAndCashEquivalents,shortTermInvestments,...,totalStockholdersEquity,totalEquity,totalLiabilitiesAndStockholdersEquity,minorityInterest,totalLiabilitiesAndTotalEquity,totalInvestments,totalDebt,netDebt,link,finalLink
0,2023-04-30,A,USD,1090872.0,2023-05-26,2023-05-26 17:28:42,2023,Q2,1.175000e+09,0.0,...,5.781000e+09,5.781000e+09,1.079200e+10,0.0,1.079200e+10,186000000.0,2.733000e+09,1.558000e+09,https://www.sec.gov/Archives/edgar/data/109087...,https://www.sec.gov/Archives/edgar/data/109087...
1,2023-01-31,A,USD,1090872.0,2023-03-03,2023-03-02 18:52:33,2023,Q1,1.250000e+09,0.0,...,5.609000e+09,5.609000e+09,1.091900e+10,0.0,1.091900e+10,195000000.0,2.971000e+09,1.721000e+09,https://www.sec.gov/Archives/edgar/data/109087...,https://www.sec.gov/Archives/edgar/data/109087...
2,2022-10-31,A,USD,1090872.0,2022-12-21,2022-12-20 18:42:30,2022,Q4,1.053000e+09,0.0,...,5.289000e+09,5.289000e+09,1.051600e+10,0.0,1.051600e+10,195000000.0,2.769000e+09,1.716000e+09,https://www.sec.gov/Archives/edgar/data/109087...,https://www.sec.gov/Archives/edgar/data/109087...
3,2022-07-31,A,USD,1090872.0,2022-09-01,2022-08-31 18:53:26,2022,Q3,1.071000e+09,6000000.0,...,5.091000e+09,5.091000e+09,1.048400e+10,0.0,1.048400e+10,200000000.0,2.912000e+09,1.841000e+09,https://www.sec.gov/Archives/edgar/data/109087...,https://www.sec.gov/Archives/edgar/data/109087...
4,2022-04-30,A,USD,1090872.0,2022-05-31,2022-05-27 19:33:57,2022,Q2,1.186000e+09,21000000.0,...,5.122000e+09,5.122000e+09,1.045500e+10,0.0,1.045500e+10,211000000.0,2.905000e+09,1.719000e+09,https://www.sec.gov/Archives/edgar/data/109087...,https://www.sec.gov/Archives/edgar/data/109087...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,2007-03-31,ZZLL,USD,1365357.0,2007-06-29,2007-06-28 18:08:07,2007,Q1,7.704310e+05,0.0,...,4.101440e+05,4.101440e+05,3.685415e+06,0.0,3.685415e+06,0.0,0.000000e+00,-7.704310e+05,https://www.sec.gov/Archives/edgar/data/136535...,https://www.sec.gov/Archives/edgar/data/136535...
62,2006-12-31,ZZLL,USD,1365357.0,2006-12-31,2006-12-31 00:00:00,2006,Q4,1.099092e+06,0.0,...,4.168860e+05,4.168860e+05,3.306484e+06,0.0,3.306484e+06,0.0,5.615390e+05,-5.375530e+05,NaN,NaN
63,2006-09-30,ZZLL,USD,1365357.0,2006-09-30,2006-09-30 00:00:00,2006,Q3,6.326700e+05,0.0,...,5.204820e+05,5.204820e+05,3.170866e+06,0.0,3.170866e+06,0.0,5.615380e+05,-7.113200e+04,NaN,NaN
64,2006-06-30,ZZLL,USD,1365357.0,2006-06-30,2006-06-30 00:00:00,2006,Q2,1.710810e+05,0.0,...,6.653510e+05,6.653510e+05,2.559134e+06,0.0,2.559134e+06,0.0,0.000000e+00,-1.710810e+05,NaN,NaN
65,2006-03-31,ZZLL,USD,1365357.0,2006-03-31,2006-03-31 00:00:00,2006,Q1,2.285390e+05,0.0,...,6.782680e+05,6.782680e+05,2.393948e+06,0.0,2.393948e+06,0.0,0.000000e+00,-2.285390e+05,NaN,NaN

In [27]:
relevant_balance_sheets = balance_sheets[['date', 'symbol', 'totalAssets']]
relevant_balance_sheets.rename(columns={'date': 'date_index',
                                        'symbol': 'ticker',
                                        'totalAsset': 'ticker'}, inplace=True)
relevant_balance_sheets.sort_values(by=['ticker', 'date_index'], inplace=True)
relevant_balance_sheets

A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    date_index ticker   totalAssets
94  1999-10-31      A  5.444000e+09
93  2000-01-31      A  7.107000e+09
92  2000-04-30      A  7.321000e+09
91  2000-07-31      A  7.827000e+09
90  2000-10-31      A  8.425000e+09
..         ...    ...           ...
4   2021-09-30   ZZLL  1.023050e+07
3   2021-12-31   ZZLL  3.810411e+06
2   2022-03-31   ZZLL  3.878541e+06
1   2022-06-30   ZZLL  2.284492e+06
0   2022-09-30   ZZLL  1.071875e+06

[639637 rows x 3 columns]

In [28]:
combined_raw_data = relevant_income_statements.merge(relevant_balance_sheets, on=['date_index', 'ticker'], how='inner')
combined_raw_data.sort_values(by=['ticker', 'date_index'], inplace=True)
combined_raw_data

        date_index ticker  incomeTaxExpense   totalAssets
0       1999-10-31      A     -5.288000e+09  5.444000e+09
1       2000-01-31      A      7.100000e+07  7.107000e+09
2       2000-04-30      A      9.000000e+07  7.321000e+09
3       2000-07-31      A      8.300000e+07  7.827000e+09
4       2000-10-31      A      1.630000e+08  8.425000e+09
...            ...    ...               ...           ...
623380  2021-09-30   ZZLL      1.320000e+02  1.023050e+07
623381  2021-12-31   ZZLL      1.442320e+05  3.810411e+06
623382  2022-03-31   ZZLL      2.360800e+04  3.878541e+06
623383  2022-06-30   ZZLL      1.063000e+03  2.284492e+06
623384  2022-09-30   ZZLL      7.000000e+02  1.071875e+06

[623385 rows x 4 columns]

In [20]:
with_ch_tax = combined_raw_data
with_ch_tax['ch_tax'] = (with_ch_tax.groupby('ticker')['incomeTaxExpense'].diff(12)) / with_ch_tax.groupby('ticker')['totalAssets'].shift(12)
with_ch_tax

        date_index ticker  incomeTaxExpense   totalAssets    ch_tax
94      1999-10-31      A     -5.288000e+09  5.444000e+09       NaN
93      2000-01-31      A      7.100000e+07  7.107000e+09       NaN
92      2000-04-30      A      9.000000e+07  7.321000e+09       NaN
91      2000-07-31      A      8.300000e+07  7.827000e+09       NaN
90      2000-10-31      A      1.630000e+08  8.425000e+09       NaN
...            ...    ...               ...           ...       ...
623323  2021-09-30   ZZLL      1.320000e+02  1.023050e+07 -0.001851
623322  2021-12-31   ZZLL      1.442320e+05  3.810411e+06  0.460034
623321  2022-03-31   ZZLL      2.360800e+04  3.878541e+06  0.069671
623320  2022-06-30   ZZLL      1.063000e+03  2.284492e+06  0.004359
623319  2022-09-30   ZZLL      7.000000e+02  1.071875e+06  0.000672

[623385 rows x 5 columns]

In [40]:
ch_tax_final = with_ch_tax[['date_index', 'ticker', 'ch_tax']].set_index('date_index')
ch_tax_final.index = pd.to_datetime(ch_tax_final.index)
ch_tax_final = ch_tax_final.groupby('ticker').resample('M', convention='start').first().reset_index('date_index').drop(columns=['ticker']).reset_index()
ch_tax_final = ch_tax_final.ffill()
ch_tax_final

        ticker date_index    ch_tax
0            A 1999-10-31       NaN
1            A 1999-11-30       NaN
2            A 1999-12-31       NaN
3            A 2000-01-31       NaN
4            A 2000-02-29       NaN
...        ...        ...       ...
1982577   ZZLL 2022-05-31  0.069671
1982578   ZZLL 2022-06-30  0.004359
1982579   ZZLL 2022-07-31  0.004359
1982580   ZZLL 2022-08-31  0.004359
1982581   ZZLL 2022-09-30  0.000672

[1982582 rows x 3 columns]

In [46]:
fundamental_data_dir = get_data_dir() / 'fundamental'
ch_tax_factor = ch_tax_final.set_index('date_index')
ch_tax_factor.to_csv(fundamental_data_dir / 'ch_tax.csv')
ch_tax_factor

           ticker    ch_tax
date_index
1999-10-31      A       NaN
1999-11-30      A       NaN
1999-12-31      A       NaN
2000-01-31      A       NaN
2000-02-29      A       NaN
...           ...       ...
2022-05-31   ZZLL  0.069671
2022-06-30   ZZLL  0.004359
2022-07-31   ZZLL  0.004359
2022-08-31   ZZLL  0.004359
2022-09-30   ZZLL  0.000672

[1982582 rows x 2 columns]