In [83]:
import pandas as pd
import numpy as np
from factorlib.utils.system import get_data_dir

In [84]:
# Define your paths

path_code = get_data_dir() / 'raw'

In [85]:
# DATA LOAD
# Make sure to replace the path with your actual path
df = pd.read_csv(f'{path_code}/ohclv_daily.csv')
df

,GVKEY,iid,datadate,tic,conm,divd,cshtrd,eps,busdesc,gind,gsector,gsubind,sic,prcod,prchd,prcld,prccd
0,1004,1,2013/10/24,AIR,AAR CORP,NaN,351238.0,1.37,AAR Corp. provides products and services to co...,201010.0,20.0,20101010.0,5080,29.21,29.67,29.08,29.38
1,1004,1,2002/03/01,AIR,AAR CORP,NaN,75300.0,-1.60,AAR Corp. provides products and services to co...,201010.0,20.0,20101010.0,5080,NaN,7.45,7.15,7.44
2,1004,1,2007/11/30,AIR,AAR CORP,NaN,354300.0,1.70,AAR Corp. provides products and services to co...,201010.0,20.0,20101010.0,5080,32.99,33.75,32.81,33.02
3,1004,1,2015/06/30,AIR,AAR CORP,NaN,248059.0,1.23,AAR Corp. provides products and services to co...,201010.0,20.0,20101010.0,5080,32.10,32.17,31.73,31.87
4,1004,1,2019/11/08,AIR,AAR CORP,NaN,106407.0,2.37,AAR Corp. provides products and services to co...,201010.0,20.0,20101010.0,5080,44.08,44.29,43.14,43.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32127389,353444,90,2022/07/28,HLN,HALEON PLC,NaN,15271880.0,NaN,Haleon plc engages in the research and develop...,303020.0,30.0,30302010.0,2834,7.20,7.24,6.97,7.00
32127390,353444,90,2022/07/27,HLN,HALEON PLC,NaN,15006760.0,NaN,Haleon plc engages in the research and develop...,303020.0,30.0,30302010.0,2834,7.51,7.56,7.23,7.32
32127391,353444,90,2022/07/26,HLN,HALEON PLC,NaN,27235290.0,NaN,Haleon plc engages in the research and develop...,303020.0,30.0,30302010.0,2834,7.31,7.41,7.29,7.35
32127392,353444,90,2022/07/25,HLN,HALEON PLC,NaN,19349790.0,NaN,Haleon plc engages in the research and develop...,303020.0,30.0,30302010.0,2834,7.41,7.45,7.16,7.30
32127393,353444,90,2022/07/22,HLN,HALEON PLC,NaN,12093430.0,NaN,Haleon plc engages in the research and develop...,303020.0,30.0,30302010.0,2834,7.55,7.65,7.40,7.41

In [86]:
#making data frame into date time
df['datadate'] = pd.to_datetime(df['datadate'])

#renaming datadate to data_index
df = df.rename(columns={'datadate': 'date_index'})

#making data_index and GVKEY into the index
df.set_index(['date_index', 'GVKEY'], inplace=True)

#remove duplicates from the index and then reset the index to just daytime and then group by ticker and then resample

df = df.loc[~df.index.duplicated(keep='first')]

df = df.reset_index()

df.set_index('date_index', inplace=True)


df = df.groupby('GVKEY').resample('MS', convention='start').ffill()

df = df.reset_index(level=0, drop=True)


df

,GVKEY,iid,tic,conm,divd,cshtrd,eps,busdesc,gind,gsector,gsubind,sic,prcod,prchd,prcld,prccd
date_index,,,,,,,,,,,,,,,,
2002-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-02-01,1004.0,1.0,AIR,AAR CORP,NaN,97800.0,-1.60,AAR Corp. provides products and services to co...,201010.0,20.0,20101010.0,5080.0,NaN,8.6000,8.2300,8.45
2002-03-01,1004.0,1.0,AIR,AAR CORP,NaN,75300.0,-1.60,AAR Corp. provides products and services to co...,201010.0,20.0,20101010.0,5080.0,NaN,7.4500,7.1500,7.44
2002-04-01,1004.0,1.0,AIR,AAR CORP,NaN,144600.0,-1.87,AAR Corp. provides products and services to co...,201010.0,20.0,20101010.0,5080.0,NaN,11.2300,10.7500,11.00
2002-05-01,1004.0,1.0,AIR,AAR CORP,NaN,336800.0,-1.87,AAR Corp. provides products and services to co...,201010.0,20.0,20101010.0,5080.0,NaN,12.7900,12.1500,12.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-01,353444.0,90.0,HLN,HALEON PLC,NaN,7972730.0,NaN,Haleon plc engages in the research and develop...,303020.0,30.0,30302010.0,2834.0,6.13,6.2400,6.0824,6.14
2022-12-01,353444.0,90.0,HLN,HALEON PLC,NaN,7383578.0,NaN,Haleon plc engages in the research and develop...,303020.0,30.0,30302010.0,2834.0,7.00,7.1888,6.9600,7.08
2023-01-01,353444.0,90.0,HLN,HALEON PLC,NaN,3951061.0,NaN,Haleon plc engages in the research and develop...,303020.0,30.0,30302010.0,2834.0,7.99,8.1200,7.9450,8.00
2023-02-01,353444.0,90.0,HLN,HALEON PLC,NaN,5629606.0,NaN,Haleon plc engages in the research and develop...,303020.0,30.0,30302010.0,2834.0,7.98,8.0100,7.8800,7.96
2023-03-01,353444.0,90.0,HLN,HALEON PLC,NaN,2775820.0,NaN,Haleon plc engages in the research and develop...,303020.0,30.0,30302010.0,2834.0,7.94,7.9900,7.9150,7.92

In [87]:
#creation of ret column
#need to group by ticker, sort by date, then create percent change column
df['ret'] = df['prcld'].pct_change()
df

,GVKEY,iid,tic,conm,divd,cshtrd,eps,busdesc,gind,gsector,gsubind,sic,prcod,prchd,prcld,prccd,ret
date_index,,,,,,,,,,,,,,,,,
2002-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-02-01,1004.0,1.0,AIR,AAR CORP,NaN,97800.0,-1.60,AAR Corp. provides products and services to co...,201010.0,20.0,20101010.0,5080.0,NaN,8.6000,8.2300,8.45,NaN
2002-03-01,1004.0,1.0,AIR,AAR CORP,NaN,75300.0,-1.60,AAR Corp. provides products and services to co...,201010.0,20.0,20101010.0,5080.0,NaN,7.4500,7.1500,7.44,-0.131227
2002-04-01,1004.0,1.0,AIR,AAR CORP,NaN,144600.0,-1.87,AAR Corp. provides products and services to co...,201010.0,20.0,20101010.0,5080.0,NaN,11.2300,10.7500,11.00,0.503497
2002-05-01,1004.0,1.0,AIR,AAR CORP,NaN,336800.0,-1.87,AAR Corp. provides products and services to co...,201010.0,20.0,20101010.0,5080.0,NaN,12.7900,12.1500,12.60,0.130233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-01,353444.0,90.0,HLN,HALEON PLC,NaN,7972730.0,NaN,Haleon plc engages in the research and develop...,303020.0,30.0,30302010.0,2834.0,6.13,6.2400,6.0824,6.14,0.008690
2022-12-01,353444.0,90.0,HLN,HALEON PLC,NaN,7383578.0,NaN,Haleon plc engages in the research and develop...,303020.0,30.0,30302010.0,2834.0,7.00,7.1888,6.9600,7.08,0.144285
2023-01-01,353444.0,90.0,HLN,HALEON PLC,NaN,3951061.0,NaN,Haleon plc engages in the research and develop...,303020.0,30.0,30302010.0,2834.0,7.99,8.1200,7.9450,8.00,0.141523
2023-02-01,353444.0,90.0,HLN,HALEON PLC,NaN,5629606.0,NaN,Haleon plc engages in the research and develop...,303020.0,30.0,30302010.0,2834.0,7.98,8.0100,7.8800,7.96,-0.008181
2023-03-01,353444.0,90.0,HLN,HALEON PLC,NaN,2775820.0,NaN,Haleon plc engages in the research and develop...,303020.0,30.0,30302010.0,2834.0,7.94,7.9900,7.9150,7.92,0.004442

In [88]:
# SIGNAL CONSTRUCTION
df['ret'] = df['ret'].replace(np.nan, 0)
df['s_treversal'] = df['ret']
df

,GVKEY,iid,tic,conm,divd,cshtrd,eps,busdesc,gind,gsector,gsubind,sic,prcod,prchd,prcld,prccd,ret,s_treversal
date_index,,,,,,,,,,,,,,,,,,
2002-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
2002-02-01,1004.0,1.0,AIR,AAR CORP,NaN,97800.0,-1.60,AAR Corp. provides products and services to co...,201010.0,20.0,20101010.0,5080.0,NaN,8.6000,8.2300,8.45,0.000000,0.000000
2002-03-01,1004.0,1.0,AIR,AAR CORP,NaN,75300.0,-1.60,AAR Corp. provides products and services to co...,201010.0,20.0,20101010.0,5080.0,NaN,7.4500,7.1500,7.44,-0.131227,-0.131227
2002-04-01,1004.0,1.0,AIR,AAR CORP,NaN,144600.0,-1.87,AAR Corp. provides products and services to co...,201010.0,20.0,20101010.0,5080.0,NaN,11.2300,10.7500,11.00,0.503497,0.503497
2002-05-01,1004.0,1.0,AIR,AAR CORP,NaN,336800.0,-1.87,AAR Corp. provides products and services to co...,201010.0,20.0,20101010.0,5080.0,NaN,12.7900,12.1500,12.60,0.130233,0.130233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-01,353444.0,90.0,HLN,HALEON PLC,NaN,7972730.0,NaN,Haleon plc engages in the research and develop...,303020.0,30.0,30302010.0,2834.0,6.13,6.2400,6.0824,6.14,0.008690,0.008690
2022-12-01,353444.0,90.0,HLN,HALEON PLC,NaN,7383578.0,NaN,Haleon plc engages in the research and develop...,303020.0,30.0,30302010.0,2834.0,7.00,7.1888,6.9600,7.08,0.144285,0.144285
2023-01-01,353444.0,90.0,HLN,HALEON PLC,NaN,3951061.0,NaN,Haleon plc engages in the research and develop...,303020.0,30.0,30302010.0,2834.0,7.99,8.1200,7.9450,8.00,0.141523,0.141523
2023-02-01,353444.0,90.0,HLN,HALEON PLC,NaN,5629606.0,NaN,Haleon plc engages in the research and develop...,303020.0,30.0,30302010.0,2834.0,7.98,8.0100,7.8800,7.96,-0.008181,-0.008181
2023-03-01,353444.0,90.0,HLN,HALEON PLC,NaN,2775820.0,NaN,Haleon plc engages in the research and develop...,303020.0,30.0,30302010.0,2834.0,7.94,7.9900,7.9150,7.92,0.004442,0.004442

In [90]:
#constructing new df with only the needed columns for the factor
df_final=df[['s_treversal', 'tic']]
df_final

            s_treversal  tic
date_index
2002-01-01     0.000000  NaN
2002-02-01     0.000000  AIR
2002-03-01    -0.131227  AIR
2002-04-01     0.503497  AIR
2002-05-01     0.130233  AIR
...                 ...  ...
2022-11-01     0.008690  HLN
2022-12-01     0.144285  HLN
2023-01-01     0.141523  HLN
2023-02-01    -0.008181  HLN
2023-03-01     0.004442  HLN

[1549031 rows x 2 columns]

In [91]:
prices_data_dir = get_data_dir() / 'price'
df_final.to_csv(prices_data_dir / 's_treversal_f.csv', index=False)