In [61]:
import pandas as pd
from tqdm.notebook import tqdm_notebook

In [133]:
ohlcv_daily = pd.read_parquet('../data/ohlcv-daily-by-ticker.parquet')
ohlcv_daily.index = pd.to_datetime(ohlcv_daily.index)
ohlcv_daily = ohlcv_daily.swaplevel(0, 1, axis=1)
ohlc_daily = ohlcv_daily[['o', 'h', 'l', 'c']]
ohlc_daily

             o                                            ...     c          \
tic          A  AA AABA AACB AAL AAMRQ AAP AAPL  AB ABAX  ...  ZCCC ZEN  ZG
datadate                                                  ...
2002-01-02 NaN NaN  NaN  NaN NaN   NaN NaN  NaN NaN  NaN  ...  2.51 NaN NaN
2002-01-03 NaN NaN  NaN  NaN NaN   NaN NaN  NaN NaN  NaN  ...  2.50 NaN NaN
2002-01-04 NaN NaN  NaN  NaN NaN   NaN NaN  NaN NaN  NaN  ...  2.47 NaN NaN
2002-01-07 NaN NaN  NaN  NaN NaN   NaN NaN  NaN NaN  NaN  ...  2.50 NaN NaN
2002-01-08 NaN NaN  NaN  NaN NaN   NaN NaN  NaN NaN  NaN  ...  2.46 NaN NaN
...         ..  ..  ...  ...  ..   ...  ..  ...  ..  ...  ...   ...  ..  ..
2023-03-22 NaN NaN  NaN  NaN NaN   NaN NaN  NaN NaN  NaN  ...   NaN NaN NaN
2023-03-23 NaN NaN  NaN  NaN NaN   NaN NaN  NaN NaN  NaN  ...   NaN NaN NaN
2023-03-28 NaN NaN  NaN  NaN NaN   NaN NaN  NaN NaN  NaN  ...   NaN NaN NaN
2023-03-30 NaN NaN  NaN  NaN NaN   NaN NaN  NaN NaN  NaN  ...   NaN NaN NaN
2023-03-31 NaN NaN  NaN  NaN NaN   NaN NaN  NaN NaN  NaN  ...   NaN NaN NaN


tic          ZION  ZM ZNGA   ZOOXQ  ZS ZTS  ZU
datadate
2002-01-02  51.58 NaN  NaN  0.7500 NaN NaN NaN
2002-01-03  52.43 NaN  NaN  0.7700 NaN NaN NaN
2002-01-04  52.87 NaN  NaN  0.7901 NaN NaN NaN
2002-01-07  52.84 NaN  NaN  0.7600 NaN NaN NaN
2002-01-08  52.75 NaN  NaN  0.6900 NaN NaN NaN
...           ...  ..  ...     ...  ..  ..  ..
2023-03-22    NaN NaN  NaN     NaN NaN NaN NaN
2023-03-23    NaN NaN  NaN     NaN NaN NaN NaN
2023-03-28    NaN NaN  NaN     NaN NaN NaN NaN
2023-03-30    NaN NaN  NaN     NaN NaN NaN NaN
2023-03-31    NaN NaN  NaN     NaN NaN NaN NaN

[5354 rows x 9252 columns]

In [134]:
shifted_open = ohlc_daily['o'].shift(1)
shifted_open.columns = pd.MultiIndex.from_product([['p_o'], shifted_open.columns])
shifted_high = ohlc_daily['h'].shift(1)
shifted_high.columns = pd.MultiIndex.from_product([['p_h'], shifted_high.columns])
shifted_low = ohlc_daily['l'].shift(1)
shifted_low.columns = pd.MultiIndex.from_product([['p_l'], shifted_low.columns])
shifted_close = ohlc_daily['c'].shift(1)
shifted_close.columns = pd.MultiIndex.from_product([['p_c'], shifted_close.columns])
ohlc_prev_daily = pd.concat([ohlc_daily, shifted_open, shifted_high, shifted_low, shifted_close], axis=1)
ohlc_prev_daily = ohlc_prev_daily.swaplevel(0, 1, axis=1)
ohlc_prev_daily = ohlc_prev_daily.sort_index(level=0, axis=1)
ohlc_prev_daily

tic             A                                             AA      ... ZTS  \
                c      h      l   o    p_c    p_h    p_l p_o   c   h  ... p_l
datadate                                                              ...
2002-01-02  29.25  29.34  28.46 NaN    NaN    NaN    NaN NaN NaN NaN  ... NaN
2002-01-03  31.10  31.20  29.42 NaN  29.25  29.34  28.46 NaN NaN NaN  ... NaN
2002-01-04  32.78  32.94  31.65 NaN  31.10  31.20  29.42 NaN NaN NaN  ... NaN
2002-01-07  32.65  32.89  32.20 NaN  32.78  32.94  31.65 NaN NaN NaN  ... NaN
2002-01-08  32.75  32.89  32.25 NaN  32.65  32.89  32.20 NaN NaN NaN  ... NaN
...           ...    ...    ...  ..    ...    ...    ...  ..  ..  ..  ...  ..
2023-03-22    NaN    NaN    NaN NaN    NaN    NaN    NaN NaN NaN NaN  ... NaN
2023-03-23    NaN    NaN    NaN NaN    NaN    NaN    NaN NaN NaN NaN  ... NaN
2023-03-28    NaN    NaN    NaN NaN    NaN    NaN    NaN NaN NaN NaN  ... NaN
2023-03-30    NaN    NaN    NaN NaN    NaN    NaN    NaN NaN NaN NaN  ... NaN
2023-03-31    NaN    NaN    NaN NaN    NaN    NaN    NaN NaN NaN NaN  ... NaN

tic             ZU
           p_o   c   h   l   o p_c p_h p_l p_o
datadate
2002-01-02 NaN NaN NaN NaN NaN NaN NaN NaN NaN
2002-01-03 NaN NaN NaN NaN NaN NaN NaN NaN NaN
2002-01-04 NaN NaN NaN NaN NaN NaN NaN NaN NaN
2002-01-07 NaN NaN NaN NaN NaN NaN NaN NaN NaN
2002-01-08 NaN NaN NaN NaN NaN NaN NaN NaN NaN
...         ..  ..  ..  ..  ..  ..  ..  ..  ..
2023-03-22 NaN NaN NaN NaN NaN NaN NaN NaN NaN
2023-03-23 NaN NaN NaN NaN NaN NaN NaN NaN NaN
2023-03-28 NaN NaN NaN NaN NaN NaN NaN NaN NaN
2023-03-30 NaN NaN NaN NaN NaN NaN NaN NaN NaN
2023-03-31 NaN NaN NaN NaN NaN NaN NaN NaN NaN

[5354 rows x 18504 columns]

In [145]:
def classify_candles(row):
    # 1 category is almost like an 'inside bar'
    if row.loc['h'] < row.loc['p_h'] and row.loc['l'] > row.loc['p_l']:
        return 1
    # 2 is a 'movement' or 'trend' candle
    elif row.loc['h'] > row.loc['p_h'] and row.loc['l'] > row.loc['p_l']:
        return 2
    # 3 is a 'broadening' candle
    elif row.loc['h'] > row.loc['p_h'] and row.loc['l'] < row.loc['p_l']:
        return 3

    return 0

In [165]:
ohlc_classified = ohlc_prev_daily
tickers = ohlc_prev_daily.columns.get_level_values(0).unique().values
candles = pd.DataFrame(dtype='category')
for ticker in tqdm_notebook(tickers):
    candles = pd.concat([candles, ohlc_classified[ticker].apply(classify_candles, axis=1)], axis=1)

ohlc_classified = candles
ohlc_classified.columns = pd.MultiIndex.from_product([tickers, ['candle']])
ohlc_classified.columns.get_level_values(0).unique()

  0%|          | 0/2313 [00:00<?, ?it/s]

Index(['A', 'AA', 'AABA', 'AACB', 'AAL', 'AAMRQ', 'AAP', 'AAPL', 'AB', 'ABAX',
       ...
       'ZCCC', 'ZEN', 'ZG', 'ZION', 'ZM', 'ZNGA', 'ZOOXQ', 'ZS', 'ZTS', 'ZU'],
      dtype='object', length=2313)

In [178]:
ohlc_classified_prev = ohlc_classified.shift(1)
ohlc_classified_prev.columns = pd.MultiIndex.from_product([tickers, ['prev_candle']])
ohlc_classified_prev_prev = ohlc_classified.shift(2)
ohlc_classified_prev_prev.columns = pd.MultiIndex.from_product([tickers, ['prev_prev_candle']])

ohlc_classified_sequence = pd.concat([ohlc_classified, ohlc_classified_prev, ohlc_classified_prev_prev], axis=1)
ohlc_classified_sequence.sort_index(level=0, axis=1)

                A                                  AA              \
           candle prev_candle prev_prev_candle candle prev_candle
2002-01-02      0         NaN              NaN      0         NaN
2002-01-03      2         0.0              NaN      0         0.0
2002-01-04      2         2.0              0.0      0         0.0
2002-01-07      1         2.0              2.0      0         0.0
2002-01-08      0         1.0              2.0      0         0.0
...           ...         ...              ...    ...         ...
2023-03-22      0         0.0              0.0      0         0.0
2023-03-23      0         0.0              0.0      0         0.0
2023-03-28      0         0.0              0.0      0         0.0
2023-03-30      0         0.0              0.0      0         0.0
2023-03-31      0         0.0              0.0      0         0.0

                              AABA                                AACB  ...  \
           prev_prev_candle candle prev_candle prev_prev_candle candle  ...
2002-01-02              NaN      0         NaN              NaN      0  ...
2002-01-03              NaN      2         0.0              NaN      1  ...
2002-01-04              0.0      3         2.0              0.0      0  ...
2002-01-07              0.0      2         3.0              2.0      0  ...
2002-01-08              0.0      1         2.0              3.0      0  ...
...                     ...    ...         ...              ...    ...  ...
2023-03-22              0.0      0         0.0              0.0      0  ...
2023-03-23              0.0      0         0.0              0.0      0  ...
2023-03-28              0.0      0         0.0              0.0      0  ...
2023-03-30              0.0      0         0.0              0.0      0  ...
2023-03-31              0.0      0         0.0              0.0      0  ...

                      ZOOXQ     ZS                                 ZTS  \
           prev_prev_candle candle prev_candle prev_prev_candle candle
2002-01-02              NaN      0         NaN              NaN      0
2002-01-03              NaN      0         0.0              NaN      0
2002-01-04              0.0      0         0.0              0.0      0
2002-01-07              0.0      0         0.0              0.0      0
2002-01-08              2.0      0         0.0              0.0      0
...                     ...    ...         ...              ...    ...
2023-03-22              0.0      0         0.0              0.0      0
2023-03-23              0.0      0         0.0              0.0      0
2023-03-28              0.0      0         0.0              0.0      0
2023-03-30              0.0      0         0.0              0.0      0
2023-03-31              0.0      0         0.0              0.0      0

                                            ZU
           prev_candle prev_prev_candle candle prev_candle prev_prev_candle
2002-01-02         NaN              NaN      0         NaN              NaN
2002-01-03         0.0              NaN      0         0.0              NaN
2002-01-04         0.0              0.0      0         0.0              0.0
2002-01-07         0.0              0.0      0         0.0              0.0
2002-01-08         0.0              0.0      0         0.0              0.0
...                ...              ...    ...         ...              ...
2023-03-22         0.0              0.0      0         0.0              0.0
2023-03-23         0.0              0.0      0         0.0              0.0
2023-03-28         0.0              0.0      0         0.0              0.0
2023-03-30         0.0              0.0      0         0.0              0.0
2023-03-31         0.0              0.0      0         0.0              0.0

[5354 rows x 6939 columns]

In [183]:
ohlc_classified_sequence.to_csv('../data/ohlc_123_patterns.csv')